*

!.gitignore

!fish/
!fish/**

!hypr/
!hypr/**

!noctalia/
!noctalia/**
!btop/
!btop/**
!cava/
!cava/**
!kitty/
!kitty/**
!mpv/
!mpv/**
!onlyoffice/
!onlyoffice/**
!Thunar/
!Thunar/**

!mimeapps.list
